<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huangjinding.ub_seller">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ub_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--<activity android:name=".MainActivity">-->
        <activity android:name=".seller.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--申请提现-->
        <activity android:name=".seller.activity.ApplyActivity"/>

        <!--联系客服-->
        <activity android:name=".seller.activity.KefuActivity"/>

        <!--联系客服-->
        <activity android:name=".seller.activity.AddMyCardActivity"/>

        <!--关于平台-->
        <activity android:name=".seller.activity.AboutPlatformActiivty"/>
        <!--登录-->
        <activity
            android:name=".seller.activity.MainActivity" />
        <!--找回密码-->
        <activity android:name=".seller.activity.FindPwdActivity"/>
        <!--找回密码-->
        <activity android:name=".seller.activity.MyCardActivity"/>
        <!--我的银行卡-->

        <!--收益明细-->
        <activity android:name=".seller.activity.DetailActivity"/>
        <!--基础资料-->
        <activity android:name=".seller.activity.BaseInfoActivity"/>

        <!--银行卡-->
        <activity android:name=".seller.activity.BankActivity"/>
        <!--提现具体-->
        <activity android:name=".seller.activity.ApplyDetailAcivity"/>

        <!--重新加载页面-->
        <activity android:name=".seller.activity.NoNetworkActivity"/>
    </application>

</manifest>